<div class="card-body">
  <div class="sub-header">
    <h5><ng-content select="span"></ng-content></h5>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Regular</th>
        <th></th>
        <th scope="col">Diesel</th>
        <th></th>
        <th scope="col">Premium</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-content select="tr"></ng-content>
    </tbody>
  </table>
</div>
