
  <td scope="row">{{week.name}} <ng-content></ng-content></td>
  <td>{{week.regular.used}}/{{week.regular.available}}</td>
  <td>{{week.regular.used | getPercent: week.regular.available| percent:'1.0-2'}}</td>
  <td>{{week.diesel.used}}/{{week.diesel.available}}</td>
  <td>{{week.diesel.used | getPercent: week.diesel.available| percent:'1.0-2'}}</td>
  <td>{{week.premium.used}}/{{week.premium.available}}</td>
  <td>{{week.premium.used | getPercent: week.premium.available| percent:'1.0-2'}}</td>
