.table-header{
  padding: 20px;
  text-align: center;
  color: 	#ffaa00;
}
.header-top{
  margin-top: 20px;;
}
.image-width{
  width: 30%;
}
@media screen and (max-width: 768px) {
  .image-width{
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .image-width{
    width: 100%;
  }
}

