<div class="container header-top">
  <div>
    <img
      src="../../assets/images/Color-Shell-Logo.jpg"
      class="img-fluid image-width"
      alt="shell logo"
    />
  </div>
  <div class="card">
    <div class="table-header">
      <h1>Annual Month Overall Data of Shell</h1>
    </div>
    <app-total [statuses]="this.generateTotal()" [calPercent]="calPercent">
    </app-total>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-12">
      <div class="card">
        <div class="table-header">
          <h1>Data From each Branch</h1>
        </div>
        <span app-branch>
          <span>Branch A</span>
          <tr
            app-week-row
            [week]="this.generateWeeks()"
            *ngFor="let week of [1, 2, 3, 4]; let i = index"
          >
            {{
              i + 1
            }}
          </tr>
        </span>
        <span app-branch>
          <span>Branch B</span>
          <tr
            app-week-row
            [week]="this.generateWeeks()"
            *ngFor="let week of [1, 2, 3, 4]; let i = index"
            [calPercent]="calPercent()"
          >
            {{
              i + 1
            }}
          </tr>
        </span>
      </div>
    </div>
  </div>
</div>
