<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5
          class="card-title text-white header-padding"
          [ngClass]="
            this.calPercent(
              statuses.regular.used,
              statuses.regular.available
            ) >= 70
              ? 'bg-danger'
              : 'bg-success'
          "
        >
          Regular
        </h5>
        <h4 class="card-text">
          {{ statuses.regular.used }}/{{ statuses.regular.available }} ({{
            statuses.regular.used
              | getPercent: statuses.regular.available
              | percent: "1.0-2"
          }})
        </h4>
        <h6 class="card-text">Utilization of Regular</h6>
        <p>
          <ngb-progressbar
            [type]="
              this.calPercent(
                statuses.regular.used,
                statuses.regular.available
              ) >= 70
                ? 'danger'
                : 'success'
            "
            [striped]="true"
            [value]="
              this.calPercent(statuses.regular.used, statuses.regular.available)
            "
          ></ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5
          class="card-title text-white header-padding"
          [ngClass]="
            this.calPercent(statuses.diesel.used, statuses.diesel.available) >=
            70
              ? 'bg-danger'
              : 'bg-success'
          "
        >
          Diesel
        </h5>
        <h4 class="card-text">
          {{ statuses.diesel.used }}/{{ statuses.diesel.available }} ({{
            statuses.diesel.used
              | getPercent: statuses.diesel.available
              | percent: "1.0-2"
          }})
        </h4>
        <h6 class="card-text">Utilization of Diesel</h6>
        <p>
          <ngb-progressbar
            [type]="
              this.calPercent(
                statuses.diesel.used,
                statuses.diesel.available
              ) >= 70
                ? 'danger'
                : 'success'
            "
            [striped]="true"
            [value]="
              this.calPercent(statuses.diesel.used, statuses.diesel.available)
            "
          ></ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5
          class="card-title text-white header-padding"
          [ngClass]="
            this.calPercent(
              statuses.premium.used,
              statuses.premium.available
            ) >= 70
              ? 'bg-danger'
              : 'bg-success'
          "
        >
          Premium
        </h5>
        <h4 class="card-text">
          {{ statuses.premium.used }}/{{ statuses.premium.available }} ({{
            statuses.premium.used
              | getPercent: statuses.premium.available
              | percent: "1.0-2"
          }})
        </h4>
        <h6 class="card-text">Utilization of Premium</h6>
        <p>
          <ngb-progressbar
            [type]="
              this.calPercent(
                statuses.premium.used,
                statuses.premium.available
              ) >= 70
                ? 'danger'
                : 'success'
            "
            [striped]="true"
            [value]="
              this.calPercent(statuses.premium.used, statuses.premium.available)
            "
          ></ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
</div>
